li{
    margin-top: 15px;
}


img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 10px;
}

.row{
    margin-top: 120px;
    margin-left: -75px;
    position: fixed;
    width: 100%;
}

.col{
    width: 30%;
    float: left;
    margin-left: 200px;
}

.slider {
    width: 400px;
    text-align: center;
    overflow: hidden;
    margin-left: 0;
}

@media only screen and (max-width: 1440px) and (min-width: 1080px) {
    .row{
        margin-left: -200px;
    }
    .col{
        margin-left: 15px;
        width: 40%;
    }
    footer{
        left: 120px;
    }
    .footer-text{
        width: 33%;
    }
    .leftSide{
        font-size: 15px;
    }
    .slider {
        width: 350px;
        text-align: center;
        overflow: hidden;
        padding-left: -100px;
    }
    img{
        height: 350px;
        width: 350px;
    }
}

@media only screen and (max-width: 1080px) {
    .leftSide{
        font-size: 14px;
    }
    .row{
        margin-left: -250px;
    }
    .col{
        margin-left: 15px;
        width: 60%;
    }
    .slider {
        width: 300px;
        text-align: center;
        overflow: hidden;
        padding-left: -100px;
    }
    img{
        height: 250px;
        width: 250px;
    }
    footer{
        font-size: 14px;
        left: 75px;
    }
    .slides-div{
        width: 300px;
        height: 300px;
        margin-bottom: 0;
        margin-top: -50px;
    }
    .slides > a{
        margin-top: -20px;
    }
    .footer-text{
        width: 33%;
    }
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides-div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transform-origin: center center;
    transition: transform 0.5s;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.slider > a{
    display: inline-flex;
    text-align: center;
    padding-left: 0.8rem;
    text-decoration: underline;
}

