.leftSide{
    height: auto;
    width: 200px;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-image: linear-gradient(-90deg, #2193b0, #6dd5ed);
    text-align: center;
}

.content{
    right: 0;
    left: auto;
    position: relative;
}
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: auto;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
    position: fixed;
    background-image: linear-gradient(-90deg, #2193b0, #6dd5ed);
}

a:link {
    color: dodgerblue;
    text-decoration: none;
}
a:hover{
    color: darkblue;
    text-decoration: underline;
}
a:visited{
    color: green;
    text-decoration: none;
}

/* slide*/

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 10px;
}

.slider {
    width: 400px;
    margin-left: 400px;
    text-align: center;
    overflow: hidden;
}

.slides {
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
}

.slides > div {
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
    background: white;
    width: 400px;
    height: 400px;
    display: flex;
}

.slider > a {
    display: inline-flex;
    flex: auto;
    width: 4.8rem;
    height: 1.5rem;
    background: white;
    align-items: center;
    position: relative;
}
