html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.leftSide{
    height: auto;
    width: 200px;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-right:1px solid white ;
    background: linear-gradient(90deg, rgb(55,55,55), rgb(80,80,80));
    text-align: center;
}

.content{
    right: 0;
    left: 200px;
    position: relative;
}
div.content {
    margin-left: 200px;
    /*padding: 1px 16px;*/
    height: auto;
}

.top{
    width: 100%;
    left: 75px;
    top: -10px;
    padding-bottom: -5px;
    padding-top: -5px;
    background: rgb(80,80,80);
    color: white;
    text-align: center;
    position: fixed;
    z-index: -1;
    text-transform: capitalize;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 75px;
    height: auto;
    position: fixed;
    background: rgb(80,80,80);
    z-index: -1;
}

a:link {
    color: white;
    text-decoration: none
}
a:hover{
    color: steelblue;
    text-decoration: underline;
}
a:visited{
    color: coral;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 10px;
}

.slider {
    margin-top: 150px;
    width: 400px;
    margin-left: 200px;
    text-align: center;
    overflow: hidden;
}

.slides {
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    display: flex;
    float: left;
}

.slides > div {
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
    background: white;
    width: 400px;
    height: 400px;
    display: flex;
}

.slider > a {
    display: inline-flex;
    flex: auto;
    width: 4.8rem;
    height: 1.5rem;
    align-items: center;
    color: black;
    position: relative;
}
