html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(55,55,55);
    color: white;
    font-family: "Roboto", sans-serif;
}

.leftSide{
    height: auto;
    width: 12%;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-right:1px solid white ;
    background: linear-gradient(90deg, rgb(55,55,55), rgb(80,80,80));
    text-align: center;
}

.leftSide > a > h3:hover{
    margin-left: 30px;
    margin-right: 30px;
    background: darkorange;
    color: rgb(80,80,80);
}

.content{
    right: 0;
    left: 200px;
    position: relative;
}
div.content {
    margin-left: 200px;
    /*padding: 1px 16px;*/
    height: auto;
}

.top{
    width: 100%;
    left: 75px;
    top: -10px;
    padding-bottom: -5px;
    padding-top: -5px;
    /*background: rgb(80,80,80);*/
    color: darkorange;
    text-align: center;
    position: fixed;
    z-index: -1;
    text-transform: uppercase;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 75px;
    height: 75px;
    position: fixed;
    background: rgb(80,80,80);
    z-index: -1;
}
.footer-text{
    width: 25%;
    color: darkorange;
}

a:link {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: steelblue;
    text-decoration: underline;
}

a:visited{
    color: darkorange;
    text-decoration: none;
}

.socials{
    height: 25px;
    width: 25px;
    position: relative;
}

