html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(55,55,55);
    color: white;
    font-family: "Roboto", sans-serif;
}

.leftSide{
    height: auto;
    width: 10%;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-right:1px solid white ;
    background: linear-gradient(90deg, rgb(55,55,55), rgb(80,80,80));
    text-align: center;
}

.leftSide > a > h3:hover{
    margin-left: 40px;
    margin-right: 40px;
    background: darkorange;
    color: rgb(80,80,80);
}

.content{
    right: 0;
    left: 200px;
    position: relative;
}
div.content {
    margin-left: 200px;
    /*padding: 1px 16px;*/
    height: auto;
}

.top{
    width: 100%;
    left: 75px;
    top: -10px;
    padding-bottom: -5px;
    padding-top: -5px;
    /*background: rgb(80,80,80);*/
    color: darkorange;
    text-align: center;
    position: fixed;
    z-index: -1;
    text-transform: uppercase;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 75px;
    height: 75px;
    position: fixed;
    background: rgb(80,80,80);
    z-index: -1;
}
.footer-text{
    width: 25%;
    color: darkorange;
}

a:link {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: steelblue;
    text-decoration: underline;
}

a:visited{
    color: darkorange;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    border-radius: 10px;
}

.row{
    margin-top: 120px;
    margin-left: -175px;
    position: fixed;
    width: 100%;
}

.col{
    width: 33%;
    float: left;
    margin-left: 75px;
}

.slider {
    width: 400px;
    text-align: center;
    overflow: hidden;
    margin-left: 0;
}

@media only screen and (max-width: 1440px) and (min-width: 1080px) {
    .row{
        margin-left: -175px;
    }
    .col{
        margin-left: 15px;
        width: 50%;
    }
    footer{
        left: 120px;
    }
    .footer-text{
        width: 33%;
    }
    .leftSide{
        font-size: 15px;
    }
    .slider {
        width: 250px;
        text-align: center;
        overflow: hidden;
        padding-left: -100px;
    }
    img{
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 1080px) {
    .leftSide{
        font-size: 14px;
    }
    .row{
        margin-left: -175px;
    }
    .col{
        margin-left: 45px;
    }
    .slider {
        width: 250px;
        text-align: center;
        overflow: hidden;
        padding-left: -100px;
    }
    img{
        height: 250px;
        width: 250px;
    }
    footer{
        font-size: 14px;
        left: 75px;
    }
    .slides > div{
        width: 250px;
        height: 250px;
        margin-bottom: 0;
        margin-top: -50px;
    }
    .slides > a{
        margin-top: -20px;
    }
    .footer-text{
        width: 33%;
    }
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transform-origin: center center;
    transition: transform 0.5s;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.slider > a{
    display: inline-flex;
    text-align: center;
    padding-left: 0.8rem;
    text-decoration: underline;
}



